body {
  margin: 0;
  background-color: black;
  color: #0f0;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

#terminal {
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
  white-space: pre-wrap;
}

.warning {
  color: red;
  font-weight: bold;
  animation: blink 0.3s infinite alternate;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.2;
  display: none;
  z-index: 9999;
}

@keyframes flashScreen {
  0% {
    background: white;
    opacity: 0.4;
  }
  100% {
    background: black;
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.final {
  color: lime;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
